<ul class="grid">	
	{% for post in site.posts %}
		{% if post.category == "current_demo" %}
			<li class="half demo">
				<a href="{{ post.signUp }}" target="_blank">
					<h1 class="ion-ios7-lightbulb"></h1>
					<h2>Wanna show off?</h2>
					<p>SIGN UP</p>
				</a>
			</li>
			
			<li class="half attend">
				<a href="{{ post.eventLink }}" target="_blank">
					<h1 class="ion-ios7-glasses"></h1>
					<h2>Wanna hang out?</h2>
					<p>RSVP</p>
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
