<footer class="end">
	<div class="site">
	  
<!--  <h3><a href="/">Latest Posts</a></h3>
  {% for post in site.posts %}
		<ul>
			<li><a href="{{post.url}}">{{ post.title }}</a></li>
		</ul>
  {% endfor %}-->
	  
	  
<h2>DemoDays</h2>
<p><a href="http://techatnyu.org">tech@NYU</a> in conjunction with <a href="http://createatcooper.org/">create@cooper</a>, <a href="https://www.facebook.com/parsonscodeclub">Parsons Code Club</a>, and <a href="http://adicu.com">Columbia ADI</a></p>
<span>sponsored by <a href="http://spotify.com">Spotify</a>, <a href="http://quirky.com">Quirky</a>, and <a href="http://squarespace.com">Squarespace</a>
<ul>
	<li><a href="https://www.facebook.com/TechatNYU"><i class="icon-social-facebook"><span>facebook</span></i></a></li>
	<li><a href="https://twitter.com/TechatNYU"><i class="icon-social-twitter"><span>twitter</span></i></a></li>
	<li><a href="mailto:hello@techatnyu.org"><i class="icon-ios7-email"><span>email</span></i></a></li>
</ul>

<div class="colophon">
	<p>made with <i class="icon-ios7-heart-outline"></i> in NYC</p>
</div>
</div>
</footer>