<header class="main">
	<div class="overlay">
		<div class="site">
			<div class="logo" style="visibility: hidden">
				<img src="/lib/img/demodays.png">
				<h1>DemoDays</h1>
			</div>
			<div class="tagline">
				<h1 style="visibility: hidden">Student demos at the intersection of art, design and code.</h1>
				
				<a href="https://www.eventbrite.com/e/hackday-demoday-with-technyu-mlh-createcooper-and-eia-tickets-14278034987" class="action"><span><span class="ion-ios7-heart" data-pack="ios7" data-tags="love"></span> RSVP</span></a>
			</div>
			<div class="info">
				<ul class="icons">
					<li><h3 class="ion-ios7-calendar" data-pack="ios7" data-tags="date, time, month, year"></h3></li>
					<li><h3 class="ion-ios7-clock" data-pack="ios7" data-tags="time, date, hours, minutes, seconds, watch"></h3></li>
					<li><h4 class="ion-ios7-world" data-pack="ios7" data-tags="globe, earth"></h4><br><br></li>
					<li><h3 class="ion-ios7-heart" data-pack="ios7" data-tags="love"></h3></li>
				</ul>
				<ul class="logistics">	
					<li class="further-detail"><h3>2/28/2015</h3> 
						<div class="micro">
							<ul>
								<li>Saturday</li>
							</ul>
						</div>
					</li>
					<li class="further-detail"><h3>3:00-6:00</h3> 
						<div class="micro">
							<ul>
								<li>Hacking</li>
								<li>Demos</li>
								<li>Guest speaker</li>
								<li>Fooooood</li>
							</ul>
						</div>
					</li>
					<li class="further-detail"><h4><a href="https://www.google.com/maps/place/35+E+21st+St,+New+York,+NY+10010/@40.7396275,-73.9883999,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259a163eda475:0xa8c1bf43b4f5beda"> Tumblr Headquarters</a></h4> 
						<div class="micro">
							<ul>
								<li>35 E 21st Street, 10th Floor</li>
								<li>New York, NY 10010</li>
							</ul>
						</div>
					</li>
					<li><h3><a href="http://eventbrite.com/">RSVP</a></h3></li>
				</ul>
			</div>
		</div>
	</div>
</header>