<!DOCTYPE html>
<html ng-app="demodaysControllers">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>DemoDays, presented by tech@NYU</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="style/index.css">
        <meta name="description" content="DemoDays - Student demos at the intersection of art, design and code, in New York City. Hosted by tech@NYU in conjunction with create@cooper, Parsons Code Club, and Columbia ADI" />
        <meta name="keywords" content="tech@NYU DemoDays New York City student demos hacking art design code engineering computer science NYU Cooper Union Parsons Columbia" />
        
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45437819-1', 'demodays.co');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div ng-controller="IndexCtrl" class="container">
            <header class="main">
    <div class="overlay">
            <div class="site">
                <div class="logo">
                    <img src="assets/img/demodays.png" alt="demodays_logo">
                    <h1>{{ title }}</h1>
                </div>
                <div class="tagline">
                  <h1>{{ tagline }}</h1>
                    
                  <a href="{{ RSVPForm }}" class="action" target="_blank"><span><span class="ion-ios7-heart" data-pack="ios7" data-tags="love"></span>{{ RSVP }}</span></a>
                </div>
                <div class="info">
                    <ul class="icons">
                        <li><h3 class="ion-ios7-calendar" data-pack="ios7" data-tags="date, time, month, year"></h3></li>
                        <li><h3 class="ion-ios7-clock" data-pack="ios7" data-tags="time, date, hours, minutes, seconds, watch"></h3></li>
                        <li><h4 class="ion-ios7-world" data-pack="ios7" data-tags="globe, earth"></h4><br><br><br></li>
                        <li><h3 class="ion-ios7-heart" data-pack="ios7" data-tags="love"></h3></li>
                    </ul>
                    <ul class="logistics">  
                      <li class="further-detail"><h3>{{ date }}</h3> 
                            <div class="micro">
                                <ul>
                                  <li>{{ monthYear }}</li>
                                </ul>
                            </div>
                        </li>
                        <li class="further-detail"><h3>{{ time }}</h3> 
                            <div class="micro">
                              <ul><span ng-bind-html="detailTime"></span></ul>
                            </div>
                            <li class="further-detail"><h4><a href="https://www.google.com/maps/search/{{ location }}">{{ location }}</a></h4> 
                            <div class="micro">
                              <ul><span ng-bind-html="address"></span></ul>
                            </div>
                        </li>
                        <li><h3><a href="{{ RSVPForm }}" target="_blank">{{ RSVP }}</a></h3></li>
                    </ul>
                </div>
            </div>
    </div>
</header>

               <section class="intro">
<div class="site">

  <h1>{{ currentTitle }}</h1>

  <p ng-bind-html="currentDesc"></p>

<ul class="grid">   
  <li ng-repeat="showHang in showHangs" class="half {{ showHang.cls }}">
    <a href="{{ showHang.href }}" target="_blank">
      <h1 class="{{ showHang.icon }}"></h1>
      <h2>{{ showHang.title }}</h2>
      <p>{{ showHang.subtitle }}</p>
    </a>
  </li>
</ul>

<h1>{{ aboutTitle }}</h1>

<p ng-bind-html="aboutDesc"></p>

</div>
</section>

<section class="details">
<div class="overlay">
<div class="site">

  <h1>{{ programTitle }}</h1>

<p ng-repeat="desc in programDesc" ng-bind-html="desc"></p>

</div>
</div>
</section>

<section class="speaker">
<div class="site">

  <h1>{{ keynoteTitle }}</h1>
  <div ng-repeat="speaker in keynoteSpeakers">
    <p><img src="{{ speaker.img }}" alt="{{ speaker.name }}" title="{{ speaker.name }}"></p>
    <h3 ng-bind-html="speaker.desc"></h3>
  </div>

  <h1>{{ signupTitle }}</h1>
  <p ng-bind-html="signupDesc"></p>
</div>
</section>

<section class="clubs-sponsors">
<div class="site">

  <h1>{{ hostsTitle }}</h1>

<ul class="grid" style="text-align:left;">
  <li ng-repeat="host in hostsImg">
    <a href="{{ host.href }}" title="{{ host.name }}">
      <img src="{{ host.src }}" title="{{ host.name }}">
    </a>
  </li>
</ul>

<h1>{{ prevSponsorsTitle }}</h1>

<!-- Need to make icon sizes consistent..ex. Squarespace is too small -->

<ul class="grid">
  <li ng-repeat="sponsor in prevSponsorsImg"><a href="{{ sponsor.href }}" title="{{ sponsor.title }}"><img src="{{ sponsor.src }}" alt="{{ sponsor.title }}"></a></li>
</ul>

</div>
</section>

<!--section class="main-copy">
<div class="site">

<h1>Past DemoDays</h1>

<p>Visit the <a href="/archive">DemoDays archives</a> to explore past demos!</p>

</div>
</section-->
<footer class="end">
    <div class="site">
      <h2>{{ footerTitle }}</h2>
      <p ng-bind-html="footerDesc"></p>
        <ul>
          <li ng-repeat="social in footerSocial"><a href="{{ social.href }}"><i class="{{ social.icon }}"><span>{{ social.title }}</span></i></a></li>
        </ul>
        <div class="colophon">
          <p ng-bind-html="footerSignature"></p>
          <p ng-repeat="author in footerAuthors"><a href="{{ author.link}}">{{ author.name }} </a></p>
        </div>

</div>
</footer>

        </div> <!-- /container -->

        <!-- Scripts CDNs -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        
        <!-- Website scripts -->
        <script src="js/index.js"></script>
        <script src="js/controllers.js"></script>
    </body>
</html>
