@charset "UTF-8";
@import url(ionicons.css);

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-light.ttf");
}

body {
  font: 1em "Rubik", helvetica, arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
  max-height: 100vh;
}
@media (min-width: 992px), (orientation: landscape) {
  .right-panel {
    height: 100vh;
  }

  .left-panel {
    height: 100vh;
  }
}

@media (max-width: 991px) and (orientation: portrait) {
  .right-panel {
    height: 100vw;
  }

  .left-panel {
    height: 100vw;
  }
}

.details h2 {
  margin-top: 5px;
}

.btn {
  border-radius: 0;
  background-color: #eaeae6;
  color: #000;
}

.container-fluid {
  padding: 0;
}

[class*="col-"]{
    padding: 0;
}

.right-panel {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1.5em 0 3em;
}

.background-image{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:url('../assets/img/background_image.png');
	background-size:cover;
	z-index: -1;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.logo-box{
  position: relative;

  width: 50%;
  top: 35%;
  left: 25%;
}

.logo {
  width:70%;
}

.center-panel {
  background-image: url('../assets/img/paint.png');
  background-size:contain;
  background-repeat: no-repeat;

  overflow: hidden;
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 0;
  padding-top: 60%;
}

.panel-img {
  position: relative;
}

.content {
  position: absolute;
  top: 10%;
  width: 80%;
  left: 10%;
  overflow: hidden;

  color: #fff;
  text-align: center;
}

.content h1 {
  font-size: 2vw;
}

.content h2 {
  font-size: 1.5vw;
}

.motto {
  position: absolute;
  top: 30%;
  left: 30%;

  width: 100%;

  color: #d7276b;
  font-size: 1.5vw;
}

.social-bar {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.social-bar a {
  color: #d7276b;
  font-size: 20px;
  text-align: center;
}

.social-bar h5 {
  color: #d7276b;
  text-align: center;
}
