@font-face {
  font-family: 'Rubik';
  src: url(Rubik-Regular.ttf), format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('Rubik-Medium.ttf'), format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('Rubik-Light.ttf'), format('ttf');
}
